<div class="thumbnail name-the-character-character-card">

  <img ng-src="{{character.image.path}}/standard_fantastic.{{character.image.extension}}">

  <div class="caption">

    <h4>
      {{character.name}}
    </h4>

    <p>
      Find out more about this character:
    </p>

    <ul class="list-inline name-the-character-character-links">
      <li ng-repeat="url in character.urls" >
        <marvel-link url="{{url.url}}">
          <span class="btn btn-primary">{{url.type}} <i class="fa fa-external-link"></i></span>
        </marvel-link>
      </li>
    </ul>

  </div>
</div>
