<div class="alert alert-info text-center" ng-show="loadingCharacters">
  <i class="fa fa-spinner fa-spin"></i> Loading characters...
</div>

<div class="alert alert-danger text-center" ng-show="loadingError">
  <div>
    <p>
      <i class="fa fa-times-circle"></i> Sorry, there was an error loading characters.
    </p>
    <button class="btn btn-sm btn-default" ng-click="startQuiz()">
      <i class="fa fa-refresh"></i> Try again!
    </button>
  </div>
</div>

<div class="quiz-timer-container" ng-hide="showIntro || loadingCharacters || loadingError || selectedName">
  <timer autostart="false">
    <div class="progress">
      <div class="progress-bar" ng-class="{ 'progress-bar-success': $parent.progressWidth <= 100, 'progress-bar-warning': $parent.progressWidth <= 66, 'progress-bar-danger': $parent.progressWidth <= 33 }" style="width: {{$parent.progressWidth}}%;"></div>
    </div>
  </timer>
</div>

<div class="row">
  <div class="col-xs-12">
    <cards-slider></cards-slider>
  </div>
</div>

<div ng-show="showIntro">
  <p class="lead">
    Choose the correct name for the character shown <em>before</em> the timer expires.
  </p>
  <p class="text-center">
    <button class="btn btn-primary" ng-click="startQuiz()">OK, got it!</button>
  </p>
</div>

<div class="row" ng-hide="showIntro">
  <div class="text-center col-xs-12">
    <div class="text-center name-the-character-cards-slider" data-cards-slider data-refresh="selectedName">
      <ul class="list-unstyled">

        <li>
          <div class="thumbnail name-the-character-character-card" ng-show="characters.length">

            <img ng-if="characters.length" ng-src="{{characters[0].image.path}}/standard_fantastic.{{characters[0].image.extension}}">

            <div class="caption">

              <h4>
                {{characters[0].name}}
              </h4>

              <div ng-show="selectedName">
                <p>
                  Find out more about this character:
                </p>

                <ul class="list-inline name-the-character-character-links">
                  <li ng-repeat="url in characters[0].urls" >
                    <marvel-link url="{{url.url}}">
                      <span class="btn btn-primary">{{url.type}} <i class="fa fa-external-link"></i></span>
                    </marvel-link>
                  </li>
                </ul>

                <p></p>
              </div>

              <ul class="list-unstyled" ng-hide="selectedName">
                <li ng-repeat="name in namesChoices">
                  <p>
                    <input type="radio" ng-model="$parent.selectedName" value="{{name}}" id="name-the-character-choice-{{$index}}">
                    <label for="name-the-character-choice-{{$index}}" class="btn btn-default btn-lg name-the-character-choice-button" ng-click="answerSelected()">
                      {{name}}
                    </label>
                  </p>
                </li>
              </ul>

              <div ng-show="selectedName">
                <div class="alert alert-success text-center" ng-show="correctAnswer">
                  <i class="fa fa-check-circle"></i> Your answer is <strong>correct!</strong>
                </div>

                <div class="alert alert-danger text-center" ng-show="!correctAnswer && !timeout">
                  <i class="fa fa-times-circle"></i> Your answer is <strong>not correct!</strong>
                </div>

                <div class="alert alert-danger text-center" ng-show="!correctAnswer && timeout">
                  <i class="fa fa-times-circle"></i> Sorry, <strong>time's up!</strong>
                </div>

                <p>
                  <button type="button" class="btn btn-default" ng-click="startQuiz()">
                    <i class="fa fa-refresh"></i> Play again
                  </button>
                </p>

                <div class="text-center hidden-xs">
                  <p>or</p>
                  <div class="alert alert-info">
                    <i class="fa fa-arrow-down"></i> Check out other characters <i class="fa fa-arrow-down"></i>
                  </div>
                </div>
              </div>

            </div><!-- .caption -->
          </div><!-- .thumbnail -->
        </li>

        <li ng-repeat="character in characters | limitTo:-2" ng-show="selectedName">
          <character-card character="character" class="visible-xs"></character-card>
        </li>

      </ul>
  </div><!-- .name-the-character-cards-slider -->
</div><!-- .row -->

<div class="row hidden-xs" ng-show="selectedName">
  <div ng-repeat="character in characters | limitTo:-2" class="col-sm-6 text-center">
    <character-card character="character"></character-card>
  </div>
</div><!-- .row -->
