<p class="lead">
  Match every character image with its correct name.<br>
  <span class="small text-muted">
    <span class="hidden-xs hidden-sm">Click on</span>
    <span class="hidden-md hidden-lg">Touch</span>
    two names to switch them, when you're ready click the Answer button.
  </span>
</p>

<div class="alert alert-info text-center" ng-show="loadingCharacters">
  <i class="fa fa-spinner fa-spin"></i> Loading characters...
</div>

<div class="alert alert-danger text-center" ng-show="loadingError">
  <i class="fa fa-times-circle"></i> There was an error while loading characters, try reloading the page.
</div>

<div class="row">
  <div ng-repeat-start="character in characters" class="col-sm-6">
    <div class="thumbnail">
      <img ng-src="{{character.image.path}}/standard_fantastic.{{character.image.extension}}">
      <div class="caption">
        <h4>
          <span
            ng-class="{ 'text-muted': isNameSelected($index), 'text-danger': answered && !isNameCorrect($index), 'text-success': answered && isNameCorrect($index) }"
            ng-click="selectName($index)" ng-style="!answered ? { cursor: 'pointer' } : {}">
            {{chosenNames[$index]}}
          </span>
        </h4>
        <h5 class="text-success">
          {{correctNames[$index]}}&nbsp;
        </h5>
        <ul class="list-inline" style="text-transform: capitalize;">
          <li ng-repeat="url in character.urls" >
            <marvel-link url="{{url.url}}">
              {{url.type}} <i class="fa fa-external-link"></i>
            </marvel-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-repeat-end ng-if="$index === 1" class="clearfix hidden-xs"></div>
</div>

<div class="row">
  <div class="col-sm-5">
    <div class="alert alert-success text-center" ng-show="answered && correctAnswer">
      <i class="fa fa-check-circle"></i> Your answer is <strong>correct!</strong>
    </div>
    <div class="alert alert-danger text-center" ng-show="answered && !correctAnswer">
      <i class="fa fa-times-circle"></i> Your answer is <strong>incorrect!</strong>
    </div>
  </div>
  <div class="col-sm-7 text-right">
    <button type="button" class="btn btn-primary" ng-click="checkAnswer()" ng-hide="answered || loadingCharacters || loadingError">
      Answer
    </button>
    <button type="button" class="btn btn-primary" ng-click="showSolution()" ng-show="answered && !correctAnswer">
      Show solution
    </button>
    <button type="button" class="btn btn-default" ng-click="restart()" ng-show="answered">
      <i class="fa fa-refresh"></i> Play again
    </button>
  </div>
</div>
