<div ng-show="loadingCharacters">
  Loading characters...
</div>

<div class="row">
  <div ng-repeat="character in characters" class="col-sm-4">
    <div ng-if="character.url">
      <marvel-link url="{{character.url}}">
        Character info <span class="glyphicon glyphicon-new-window"></span>
      </marvel-link>
    </div>
    <div>
      <img ng-src="{{character.image}}">
    </div>
    <div ng-class="{ 'mq-match-characters-name-selected': isNameSelected($index) }">
      <span ng-click="selectName($index)">
        {{chosenNames[$index]}}
      </span>
    </div>
    <div>
      {{correctNames[$index]}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <span ng-show="answered && correctAnswer">Correct answer!</span>
      <span ng-show="answered && !correctAnswer">Incorrect answer!</span>
      <button type="button" class="btn btn-primary" ng-click="checkAnswer()" ng-hide="answered || loadingCharacters">Answer</button>
      <button type="button" class="btn btn-primary" ng-click="showSolution()" ng-show="answered && !correctAnswer">Show solution</button>
      <button type="button" class="btn btn-default" ng-click="restart()" ng-show="answered">
        <span class="glyphicon glyphicon-refresh"></span> Start again
      </button>
    </div>
  </div>
</div>
