---
---
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Marvel QUIZ (BETA) - play with your favourite Marvel heroes</title>
    <meta name="description" content="A game to test your knowledge of Marvel's Universe through various quizzes and discover new characters and stories. Everyone loves a Marvel hero!!">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="7e9Q1ZOEXFr2CYeqIvg5kJZwI6lOpmNmWdQuXn0ndsg" />
    <link rel="author" href="https://plus.google.com/+GabrieleRabbiosi">

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="76x76" href="images/marvel-quiz_ico_76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/marvel-quiz_ico_152x152.png">
    <link rel="shortcut icon" sizes="76x76" href="images/marvel-quiz_ico_76x76.png">
    <link rel="shortcut icon" sizes="152x152" href="images/marvel-quiz_ico_152x152.png">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <!-- Marvel QUIZ app main styles -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- Available quizzes syles -->
    <link rel="stylesheet" href="quizzes/nameTheImage/styles/main.css"></script>
    <!-- endbuild -->

    <!-- build:js scripts/ie-fix.js -->
    <script src="scripts/wp8-fix.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="marvelQuizApp" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <marvel-api-limit-exceeded-modal data-toggle="marvelApiLimitExceeded"></marvel-api-limit-exceeded-modal>

    <div class="wrapper">

      <div class="container">
        <div ng-include="'views/common/header.html'"></div>
        <noscript>
          {% include common/header.html %}
        </noscript>
        <div class="view-container">
          <div ng-view=""></div>
          <noscript>
            {% include home.html %}
          </noscript>
        </div>
      </div>
      <div ng-include="'views/common/footer.html'"></div>
      <noscript>
        {% include common/footer.html %}
      </noscript>

      <a href="https://docs.google.com/forms/d/18wY5Ckj9n8tKGy30m8Wc2BnIEn7OVhN4yqUe2_TmRts/viewform" target="_blank" class="feedback-button btn btn-xs btn-info">Feedback</a>

    </div><!-- .wrapper -->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41055822-5', 'redaemn.github.io');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
    <!-- endbower -->
    <script src="bower_components/iscroll/build/iscroll.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- Marvel Quiz main app -->
        <script src="scripts/app.js"></script>

        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/nav-bar.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/options.js"></script>

        <script src="scripts/services/quiz.js"></script>
        <script src="scripts/services/marvel-wrapper.js"></script>
        <script src="scripts/services/marvel-data.js"></script>
        <script src="scripts/services/cache.js"></script>
        <script src="scripts/services/google-analytics.js"></script>
        <script src="scripts/services/quiz-events.js"></script>
        <script src="scripts/services/score.js"></script>
        <script src="scripts/services/marvel-api-limit-exceeded-interceptor.js"></script>
        <script src="scripts/services/marvel-api-status.js"></script>
        <script src="scripts/services/app-state-events.js"></script>
        <script src="scripts/services/utils.js"></script>

        <script src="scripts/directives/marvel-link.js"></script>
        <script src="scripts/directives/marvel-api-limit-exceeded-modal.js"></script>
        <script src="scripts/directives/on-load.js"></script>

        <!-- Available quizzes -->
        <script src="quizzes/nameTheImage/scripts/main.js"></script>
        <script src="quizzes/nameTheImage/scripts/controllers/main.js"></script>
        <script src="quizzes/nameTheImage/scripts/directives/character-card.js"></script>
        <script src="quizzes/nameTheImage/scripts/directives/cards-slider.js"></script>
        <!-- endbuild -->
</body>
</html>
